<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>客户评价页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<!-- 导航条-->
<nav class="navbar navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" href="#">帮跑小子</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/order/index}">我要下单 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/lists}">我的订单</a>
                </li>
                <li class="nav-item" th:if="${session.customer.type ==2}">
                    <a class="nav-link" th:href="@{/order/lists2}">我的配送</a>
                </li>
            </ul>

        </div>
        <a class="btn btn-link" th:if="${session.customer != null}" th:href="@{/customer/profile}"
           th:text="${session.customer.nickname}"></a>
        <a class="btn btn-link" th:if="${session.customer != null}" th:href="@{/publiz/logout}">注销</a>
    </div>
</nav>
<div class="container-fluid" style="background-color: #e9ecef; padding-top: 20px; padding-bottom: 20px;">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">帮跑小子</h1>
        <p class="lead">
            帮取件、代送件、400万配送员为您服务
            1分钟响应、15分钟极速揽件、覆盖全城
        </p>
        <hr class="my-4"/>
        <div class="row">
            <div class="col-sm-4 box-shadow">
                <a th:href="@{/order/addForSell}" class="btn btn-lg btn-block btn-primary">帮我买</a>
            </div>
            <div class="col-sm-4 box-shadow">
                <a th:href="@{/order/addForDeliver}" class="btn btn-lg btn-block btn-outline-primary">帮我送</a>
            </div>
            <div class="col-sm-4 box-shadow">
                <a th:href="@{/order/addForTake}" class="btn btn-lg btn-block btn-outline-primary">帮我取</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div th:if="${tip} != null" class="alert alert-success" th:text="${tip}"></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>订单类型</th>
                <th>收货人姓名</th>
                <th>收货人电话</th>
                <th>送货人姓名</th>
                <th>送货人电话</th>
                <th>帮送/买/取物品</th>
                <th>取货地址</th>
                <th>买货商店</th>
                <th>订单状态</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#</td>
                <td>
                    <span th:if="${order.type == 1}">帮买</span>
                    <span th:if="${order.type == 2}">帮送</span>
                    <span th:if="${order.type == 3}">帮取</span>
                </td>
                <td th:text="${order.consignee}">#</td>
                <td th:text="${order.consigneeMobile}">#</td>
                <td th:text="${order.consigner}">#</td>
                <td th:text="${order.consignerMobile}">#</td>
                <td th:text="${order.goods}">#</td>
                <td th:text="${order.pickupAddress}">#</td>
                <td th:text="${order.store}">#</td>
                <td>
                    <span th:if="${order.status == 1}">下单成功</span>
                    <span th:if="${order.status == 2}">已指派</span>
                    <span th:if="${order.status == 3}">配送中</span>
                    <span th:if="${order.status == 4}">已送达</span>
                    <span th:if="${order.status == 5}">已收货</span>
                    <span th:if="${order.status == 6}">已评价</span>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th>操作类型</th>
                <th>操作内容</th>
                <th>操作用户</th>
                <th>操作时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>下单</td>
                <td></td>
                <td th:text="${order.creator.nickname}"></td>
                <td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>

            <tr th:if="${order.status >=2}">
                <td>指派</td>
                <td></td>
                <td th:text="${order.assignor.nickname}"></td>
                <td th:text="${#dates.format(order.assignTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr th:if="${order.status >=3}">
                <td>配送</td>
                <td></td>
                <td></td>
                <td th:text="${#dates.format(order.receiptTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr th:if="${order.status >=4}">
                <td>送达</td>
                <td></td>
                <td></td>
                <td th:text="${#dates.format(order.sendToTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
        <form class="form-signin" th:action="@{/order/evaluate}" method="post">


            <textarea class="form-control" name="evaluateContent" rows="3" placeholder="请输入评价内容"></textarea>


            <input type="hidden" name="id" th:value="${order.id}"/>
            <button class="btn btn-lg btn-primary" type="submit">提交评价</button>
        </form>
    </div>

</div>
<hr/>
<footer class="container">
    <p>© 2017-2018 帮跑小子</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
