<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>客户评价页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .one{
            color: #ffffff;
        }
        .one:hover{
            text-decoration: none;
            color: #0066ff;
        }
        .col-md-4{
            border-right: #FF8C00 solid 1px;
        }
        .col-md-4 a.btn:hover{
            background: #0066ff;
            border: none;
        }
        .container-fluid{
            margin: 0 auto;
            text-align: center;
            margin-top: 56px;

        }

    </style>
</head>
<body>
<!-- 导航条-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-left: 200px">
    <a class="navbar-brand" href="#">哪都通跑腿</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/order/index}">我要下单 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/lists}">我的订单</a>
            </li>
            <li class="nav-item" th:if="${session.customer.type ==2}">
                <a class="nav-link" th:href="@{/order/lists2}">我的配送</a>
            </li>

        </ul>

        <a class="btn btn-link one" th:if="${session.customer != null}" th:href="@{/customer/profile}"
           th:text="${session.customer.nickname}"></a>
        <a style="padding-right: 200px" class="btn btn-link one" th:if="${session.customer != null}" th:href="@{/publiz/logout}">注销</a>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <h5 class="display-4" style="margin: 0 auto;">评价</h5>
        <div th:if="${tip} != null" class="alert alert-success" th:text="${tip}"></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>订单类型</th>
                <th>收货人姓名</th>
                <th>收货人电话</th>
                <th>送货人姓名</th>
                <th>送货人电话</th>
                <th>帮送/买/取物品</th>
                <th>取货地址</th>
                <th>买货商店</th>
                <th>订单状态</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#</td>
                <td>
                    <span th:if="${order.type == 1}">帮买</span>
                    <span th:if="${order.type == 2}">帮送</span>
                    <span th:if="${order.type == 3}">帮取</span>
                </td>
                <td th:text="${order.consignee}">#</td>
                <td th:text="${order.consigneeMobile}">#</td>
                <td th:text="${order.consigner}">#</td>
                <td th:text="${order.consignerMobile}">#</td>
                <td th:text="${order.goods}">#</td>
                <td th:text="${order.pickupAddress}">#</td>
                <td th:text="${order.store}">#</td>
                <td>
                    <span th:if="${order.status == 1}">下单成功</span>
                    <span th:if="${order.status == 2}">已指派</span>
                    <span th:if="${order.status == 3}">配送中</span>
                    <span th:if="${order.status == 4}">已送达</span>
                    <span th:if="${order.status == 5}">已收货</span>
                    <span th:if="${order.status == 6}">已评价</span>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th>操作类型</th>
                <th>操作内容</th>
                <th>操作用户</th>
                <th>操作时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>下单</td>
                <td></td>
                <td th:text="${order.creator.nickname}"></td>
                <td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>

            <tr th:if="${order.status >=2}">
                <td>指派</td>
                <td></td>
                <td th:text="${order.assignor.nickname}"></td>
                <td th:text="${#dates.format(order.assignTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr th:if="${order.status >=3}">
                <td>配送</td>
                <td></td>
                <td></td>
                <td th:text="${#dates.format(order.receiptTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr th:if="${order.status >=4}">
                <td>送达</td>
                <td></td>
                <td></td>
                <td th:text="${#dates.format(order.sendToTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
        <form class="form-signin" th:action="@{/order/evaluate}" method="post" style="margin: 0 auto">


            <textarea style="width: 1000px;text-align: center" class="form-control" name="evaluateContent" rows="3" placeholder="请输入评价内容"></textarea>


            <input type="hidden" name="id" th:value="${order.id}"/>
            <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 10px">提交评价</button>
        </form>
    </div>

</div>
<hr/>
<footer class="container">
    <p>© 2017-2018 哪都通跑腿</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
