<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>下单首页-哪都通跑腿</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>

    <style>
        .one{
            color: #ffffff;
        }
        .one:hover{
            text-decoration: none;
            color: #0066ff;
        }
        .col-md-4{
            border-right: #FF8C00 solid 1px;
        }
        .col-md-4 a.btn:hover{
            background: #0066ff;
            border: none;
        }
        .jumbotron{
            /*background: url(//fe.imdada.cn/crane/1.11.45/images/bg.337719.jpg) no-repeat;*/
            background: #FF8C00;
            text-align: center;
            background-size: auto 100%;
            background-position: center;
        }
    </style>
</head>
<body>
<!-- 导航条-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-left: 200px">
    <a class="navbar-brand" href="#">哪都通跑腿</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/order/index}">我要下单 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/lists}">我的订单</a>
            </li>
            <li class="nav-item" th:if="${session.customer.type ==2}">
                <a class="nav-link" th:href="@{/order/lists2}">我的配送</a>
            </li>

        </ul>

        <a class="btn btn-link one" th:if="${session.customer != null}" th:href="@{/customer/profile}"
           th:text="${session.customer.nickname}"></a>
        <a style="padding-right: 200px" class="btn btn-link one" th:if="${session.customer != null}" th:href="@{/publiz/logout}">注销</a>

    </div>
</nav>

<div class="jumbotron">
    <div class="container" style="padding-top: 30px">
        <h1 class="display-3">您好！&nbsp;&nbsp;<a th:text="${session.customer.nickname}"></a></h1>
        <p>帮取件、代送件、400万配送员为您服务,1分钟响应、15分钟极速揽件、覆盖全城</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/order/index}" role="button">了解更多&raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>帮我买</h2>
            <p>同城跑腿，1分钟响应、15分钟极速揽件，让你体验到飞一般的感觉。 同城跑腿，使命必达!</p>
            <p>The city running errands, 1 minute response, 15 minute speed pieces, let you experience the general feeling of flying.The same city running legs, mission must reach!</p>
            <p><a class="btn btn-secondary" th:href="@{/order/addForSell}" role="button">去下单 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>帮我送</h2>
            <p>同城跑腿，1分钟响应、15分钟极速揽件，让你体验到飞一般的感觉。 同城跑腿，使命必达!</p>
            <p>The city running errands, 1 minute response, 15 minute speed pieces, let you experience the general feeling of flying.The same city running legs, mission must reach!</p>
            <p><a class="btn btn-secondary" th:href="@{/order/addForDeliver}" role="button">去下单 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>帮我取</h2>
            <p>同城跑腿，1分钟响应、15分钟极速揽件，让你体验到飞一般的感觉。 同城跑腿，使命必达!</p>
            <p>The city running errands, 1 minute response, 15 minute speed pieces, let you experience the general feeling of flying.The same city running legs, mission must reach!</p>
            <p><a class="btn btn-secondary" th:href="@{/order/addForTake}" role="button">去下单 &raquo;</a></p>
        </div>
    </div>
</div>

<hr/>
<footer class="container">
    <p>© 2017-2018 哪都通跑腿</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
