<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>客户下单成功页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .one {
            color: #ffffff;
        }

        .one:hover {
            text-decoration: none;
            color: #0066ff;
        }
    </style>
</head>
<body>
<!-- 导航条-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-left: 200px">
    <a class="navbar-brand" href="#">哪都通跑腿</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/index}">我要下单 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/lists}">我的订单</a>
            </li>
            <li class="nav-item" th:if="${session.customer.type ==2}">
                <a class="nav-link" th:href="@{/order/lists2}">我的配送</a>
            </li>

        </ul>

        <a class="btn btn-link one" th:if="${session.customer != null}" th:href="@{/customer/profile}"
           th:text="${session.customer.nickname}"></a>
        <a style="padding-right: 200px" class="btn btn-link one" th:if="${session.customer != null}"
           th:href="@{/publiz/logout}">注销</a>

    </div>
</nav>

<div class="container-fluid text-center">
    <h1 class="display-4" style="margin-top: 60px;">恭喜您，下单成功！</h1>
    <div>进入 <a th:href="@{/order/lists}">我的订单</a></div>
</div>
<hr/>
<footer class="container">
    <p>© 2017-2018 哪都通跑腿</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
