<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>客户个人页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .one {
            color: #ffffff;
        }

        .one:hover {
            text-decoration: none;
            color: #0066ff;
        }
    </style>
</head>
<body>
<!-- 导航条-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-left: 200px">
    <a class="navbar-brand" href="#">哪都通跑腿</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/index}">我要下单 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/lists}">我的订单</a>
            </li>
            <li class="nav-item" th:if="${session.customer.type ==2}">
                <a class="nav-link" th:href="@{/order/lists2}">我的配送</a>
            </li>

        </ul>

        <a class="btn btn-link one" th:if="${session.customer != null}" th:href="@{/customer/profile}"
           th:text="${session.customer.nickname}"></a>
        <a style="padding-right: 200px" class="btn btn-link one" th:if="${session.customer != null}"
           th:href="@{/publiz/logout}">注销</a>

    </div>
</nav>

<div class="container">
    <div class="row">
        <h5 class="display-4" style="margin: 0 auto;margin-top: 58px;margin-bottom: 10px">我的申请</h5>
        <div th:if="${tip} != null" class="alert alert-success" th:text="${tip}"></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>登录账号</th>
                <th>客户昵称</th>
                <th>登录密码</th>
                <th>是否配送员</th>
                <th>申请状态</th>
                <th>手机号码</th>
                <th>注册时间</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#</td>
                <td th:text="${customer.username}">#</td>
                <td th:text="${customer.nickname}">#</td>
                <td th:text="${customer.password}">#</td>
                <td>
                   <span th:if="${customer.type == 1}">否

                   </span>
                    <span th:if="${customer.type == 2}">是</span>
                </td>
                <td>
                   <span th:if="${customer.applyStatus == 0}">未申请
                    <a th:href="@{/customer/apply}">申请</a>
                   </span>
                    <span th:if="${customer.applyStatus == 1}">申请中</span>
                    <span th:if="${customer.applyStatus == 2}">申请通过</span>
                    <span th:if="${customer.applyStatus == 9}">申请不通过
                    <a th:href="@{/customer/apply}">申请</a>
                   </span>
                </td>

                <td th:text="${customer.mobile}">#</td>
                <td th:text="${#dates.format(customer.registTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>


                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
<hr/>
<footer class="container">
    <p>© 2017-2018 哪都通跑腿</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
